{
    "swagger": "2.0",
    "info": {
        "version": "v2.0",
        "title": "LeadsPedia API Reference",
        "description": "",
        "contact": {}
    },
    "host": "api.leadspedia.com",
    "basePath": "/core/v2",
    "securityDefinitions": {
        "apiKey0": {
            "type": "apiKey",
            "in": "query",
            "name": "api_key"
        },
        "apiKey1": {
            "type": "apiKey",
            "in": "query",
            "name": "api_secret"
        }
    },
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/affiliates/create.do": {
            "post": {
                "description": "",
                "summary": "Create",
                "tags": [
                    "affiliates"
                ],
                "operationId": "affiliatescreatedo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "affiliateName",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "accountManagerID",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Active",
                            "Pending",
                            "InActive"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/campaigns/updateClicksRevenue.do": {
            "post": {
                "description": "",
                "summary": "Update Clicks Revenue",
                "tags": [
                    "campaigns"
                ],
                "operationId": "campaignsupdateClicksRevenuedo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "revenue",
                        "in": "query",
                        "required": true,
                        "type": "number",
                        "description": "",
                        "format": "",
                        "default": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/verticals/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "verticals"
                ],
                "operationId": "verticalsgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Active",
                            "InActive"
                        ]
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/offers/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "offers"
                ],
                "operationId": "offersgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "revenueModel",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Revenue Per Lead",
                            "Revenue Per Call"
                        ]
                    },
                    {
                        "name": "payoutModel",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inboundCalls/getReturned.do": {
            "get": {
                "description": "",
                "summary": "Get Returned Calls",
                "tags": [
                    "inboundCalls"
                ],
                "operationId": "inboundCallsgetReturneddo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "callerID",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "contractID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "offerID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "campaigns"
                ],
                "operationId": "campaignsgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "offerID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Active",
                            "InActive",
                            "Pending"
                        ]
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/offers/search.do": {
            "get": {
                "description": "",
                "summary": "Search",
                "tags": [
                    "offers"
                ],
                "operationId": "offerssearchdo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inboundCalls/getInProgress.do": {
            "get": {
                "description": "",
                "summary": "Get Calls In Progress",
                "tags": [
                    "inboundCalls"
                ],
                "operationId": "inboundCallsgetInProgressdo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "callerID",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "contractID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "offerID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inboundCalls/getScrubbed.do": {
            "get": {
                "description": "",
                "summary": "Get Scrubbed Calls",
                "tags": [
                    "inboundCalls"
                ],
                "operationId": "inboundCallsgetScrubbeddo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "callerID",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "contractID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "offerID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inboundCalls/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "inboundCalls"
                ],
                "operationId": "inboundCallsgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "callerID",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "contractID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "offerID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inboundCalls/getNumbers.do": {
            "get": {
                "description": "",
                "summary": "Get Numbers",
                "tags": [
                    "inboundCalls"
                ],
                "operationId": "inboundCallsgetNumbersdo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inboundCalls/getTransferred.do": {
            "get": {
                "description": "",
                "summary": "Get Transferred Calls",
                "tags": [
                    "inboundCalls"
                ],
                "operationId": "inboundCallsgetTransferreddo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "callerID",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "contractID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "offerID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/impressions/getAll.php": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "impressions"
                ],
                "operationId": "impressionsgetAllphp",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advertisersContacts/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "advertisersContacts"
                ],
                "operationId": "advertisersContactsgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contactID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "portalAccess",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Yes",
                            "No"
                        ]
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/affiliatesContacts/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "affiliatesContacts"
                ],
                "operationId": "affiliatesContactsgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contactID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "portalAccess",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Yes",
                            "No"
                        ]
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advertisers/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "advertisers"
                ],
                "operationId": "advertisersgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "advertiserType",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Corporate",
                            "Individual"
                        ]
                    },
                    {
                        "name": "accountManagerID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Active",
                            "InActive",
                            "Prospect",
                            "Paused",
                            "Suspended",
                            "Pending InActive"
                        ]
                    },
                    {
                        "name": "isCreditEnabled",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Yes",
                            "No"
                        ]
                    },
                    {
                        "name": "hasCreditCardOnFile",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Yes",
                            "No"
                        ]
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/affiliates/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "affiliates"
                ],
                "operationId": "affiliatesgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "accountManagerID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Active",
                            "Pending",
                            "InActive"
                        ]
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/callRoutingContracts/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "callRoutingContracts"
                ],
                "operationId": "callRoutingContractsgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "contractID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Active",
                            "InActive",
                            "Paused"
                        ]
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/leadDistributionContracts/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "leadDistributionContracts"
                ],
                "operationId": "leadDistributionContractsgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "contractID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Active",
                            "InActive",
                            "Paused"
                        ]
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/leads/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "leads"
                ],
                "operationId": "leadsgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "paid",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Yes",
                            "No"
                        ]
                    },
                    {
                        "name": "scrubbed",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Yes",
                            "No"
                        ]
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/leads/getQueue.do": {
            "get": {
                "description": "",
                "summary": "Get Queue",
                "tags": [
                    "leads"
                ],
                "operationId": "leadsgetQueuedo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/leads/getScrubbed.do": {
            "get": {
                "description": "",
                "summary": "Get Scrubbed",
                "tags": [
                    "leads"
                ],
                "operationId": "leadsgetScrubbeddo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/leads/getSold.do": {
            "get": {
                "description": "",
                "summary": "Get Sold",
                "tags": [
                    "leads"
                ],
                "operationId": "leadsgetSolddo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "leadID",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "contractID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "returned",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Yes",
                            "No"
                        ]
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/leads/getTrash.do": {
            "get": {
                "description": "",
                "summary": "Get Trash",
                "tags": [
                    "leads"
                ],
                "operationId": "leadsgetTrashdo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "leadID",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/leads/getReview.do": {
            "get": {
                "description": "",
                "summary": "Get Review",
                "tags": [
                    "leads"
                ],
                "operationId": "leadsgetReviewdo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "leadID",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/leads/getReturns.do": {
            "get": {
                "description": "",
                "summary": "Get Returns",
                "tags": [
                    "leads"
                ],
                "operationId": "leadsgetReturnsdo",
                "deprecated": false,
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "campaignID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "affiliateID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "verticalID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "advertiserID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "contractID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "",
                        "default": "",
                        "enum": [
                            "Pending",
                            "Approved",
                            "Rejected",
                            "Attempted Contact",
                            "Researching"
                        ]
                    },
                    {
                        "name": "returnReasonID",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": ""
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "",
                        "format": "date",
                        "default": ""
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "",
                        "format": "",
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/conversions/getAll.do": {
            "get": {
                "description": "",
                "summary": "Get All",
                "tags": [
                    "conversions"
                ],
                "operationId": "conversionsgetAlldo",
                "deprecated": false,
                "consumes": [],
                "produces": [
[...]
